body {
    background-color: var(--highlight-color);
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--text-color);
}

:root {
    --primary-color: #FF6F61; 
    --secondary-color: #FF9B85; 
    --highlight-color: #F8D7B9; 
    --neutral-color: #F08080; 
    --text-color: #3E2723; 
    --blank: #F5E0D1; /* Removed the extra / */
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Merriweather", serif;
}

p, a, li {
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    color: var(--text-color);
}

p.italics {
    font-style: italic;
}

.emphasized {
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    color: var(--text-color);
}

/* Button Styles with Gradient */
.btn {
    text-transform: lowercase;
    font-family: var(--primary-font);
    border-radius: 4px; 
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
}

/* Gradient for*
